# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
secrets
# dependencies
/node_modules

/libpeerconnection.log
npm-debug.log
testem.log

/images/*

.DS_store
.env
